table{
    
    margin: 50px 50px;
    text-align: center;
    border: 2px solid rgb(84, 9, 119);
    border-collapse: collapse;
}
tr>td{
    width: 2000px;
    height: 30px;
    border: 2px solid rgb(95, 26, 128);  
}
tr{
    border: 2px solid rgb(110, 28, 148);
}
thead{
    background-color: rgba(213, 150, 250, 0.918);
}
tbody{
    background-color: rgb(220, 184, 245);
}


